[Desktop Entry]
Type=Application
Name=project
Comment=A new Flutter project.
Icon=com.example.project
Exec=/usr/bin/com.example.project
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=UserDirs;Camera
OrganizationName=com.example
ApplicationName=project
